/*-- scss:defaults --*/
$font-family-sans-serif: "EB Garamond";
$font-family-serif: 'EB Garamond';
$bs-body-font-family: "EB Garamond";



/*--$font-family-serif: 'Brill';

$headings-font-family: 'Brill';--*/

/*--$font-size-root: 0.2rem !default;--*/
$font-size-base: 1.3rem !default;
